$blue: #007bff;
$white: #ffffff;
$green: #36be95;
$yellow: #fcdb1e;
$yellow-white: #f5d96a;
$dark: #393939;
$red:#c0315c;
$pink: #9838a1;


$logo-size: 56px;
$job-card-description-size: 420px;
$job-card-requeriments-size: 320px;
$font-size: 10px;
$font-size-big: 15px;