table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.job-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw; }
  .job-container .job-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out; }
    .job-container .job-card:hover {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); }
    .job-container .job-card .job-card-logo {
      display: flex;
      align-items: center; }
      .job-container .job-card .job-card-logo img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        margin-right: 1rem;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.88); }
    .job-container .job-card .job-card-description {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 420px; }
      .job-container .job-card .job-card-description h2 {
        display: flex;
        flex-direction: row;
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0; }
        .job-container .job-card .job-card-description h2 span {
          background: #36be95;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 2px;
          border-radius: 5px;
          padding: 2px; }
          .job-container .job-card .job-card-description h2 span p {
            font-weight: 200;
            color: white; }
      .job-container .job-card .job-card-description h3 {
        font-size: 1rem;
        font-weight: 200;
        margin: 0 0 0.5rem 0;
        display: flex;
        flex-direction: row; }
        .job-container .job-card .job-card-description h3 p {
          margin-left: 5px; }
      .job-container .job-card .job-card-description p {
        font-size: 0.9rem;
        margin: 0;
        color: #393939; }
      .job-container .job-card .job-card-description .job-card-description-locations {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0; }
        .job-container .job-card .job-card-description .job-card-description-locations li {
          text-transform: uppercase;
          font-weight: 400;
          border-radius: 50px;
          padding: 7px 1.5px;
          overflow: hidden;
          white-space: nowrap;
          max-width: 16em;
          display: inline-block;
          vertical-align: middle;
          text-overflow: ellipsis;
          font-size: 10px;
          color: #393939;
          margin: 3.5px 7px 3.5px 0;
          background: #ffffff;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
          .job-container .job-card .job-card-description .job-card-description-locations li img {
            height: 10px; }
    .job-container .job-card .job-card-requeriments {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      width: 320px; }
      .job-container .job-card .job-card-requeriments li {
        text-transform: uppercase;
        font-weight: 800;
        border-radius: 25px;
        padding: 7px 1.5px;
        overflow: hidden;
        white-space: nowrap;
        max-width: 16em;
        display: inline-block;
        vertical-align: middle;
        text-overflow: ellipsis;
        font-size: 10px;
        color: #393939;
        margin: 3.5px 7px 3.5px 0;
        border: 2px solid #393939; }
    .job-container .job-card .job-card-days {
      font-weight: 200; }
    .job-container .job-card .job-card-button {
      opacity: 0;
      flex-grow: 1; }
      .job-container .job-card .job-card-button button {
        width: 100%;
        border: none;
        background-color: #c0315c;
        color: white;
        border-radius: 15px;
        padding: 15px;
        font-weight: 800;
        font-size: 15px; }
      .job-container .job-card .job-card-button:hover {
        opacity: 1; }

.table-header {
  display: flex;
  flex-direction: column; }

.filter {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-between; }
  .filter img {
    width: 30px;
    height: 30px;
    margin: 0 10px; }
  .filter-select {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    .filter-select select {
      width: 120px;
      height: 40px;
      padding: 10px;
      margin-left: 10px;
      border: 1px solid #cccccc;
      border-radius: 50px;
      background-color: #ffffff;
      font-size: 16px;
      color: #393939;
      font-weight: 600; }
      .filter-select select img {
        width: 25px;
        height: 25px; }
      .filter-select select:focus {
        outline: none;
        border-color: #007bff; }
      .filter-select select option {
        background-color: #ffffff;
        color: #393939; }
  .filter-sort select {
    width: 120px;
    height: 40px;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #cccccc;
    border-radius: 50px;
    background-color: #ffffff;
    font-size: 16px;
    color: #393939;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; }
    .filter-sort select:focus {
      outline: none;
      border-color: #0077cc; }
    .filter-sort select option {
      background-color: #fff;
      color: #555; }

.categories {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px; }
  .categories img {
    width: 16px;
    height: 16px; }
  .categories div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: #cccccc dotted 2px;
    border-radius: 25px;
    padding: 10px 15px;
    margin-right: 10px; }
  .categories p {
    color: #cccccc; }

.intro {
  margin-bottom: 20px; }
  .intro-text {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
    border: 0.5px solid #cccccc; }
    .intro-text p {
      font-size: 18px;
      font-weight: bold; }
      .intro-text p span {
        border-bottom: #393939 2px solid;
        margin: 0 2px; }
  .intro-buttons {
    display: flex;
    flex-direction: row; }
    .intro-buttons button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      border-radius: 20px;
      border: none;
      font-size: 16px;
      padding: 20px 10px;
      font-weight: 800; }

.trusted {
  display: flex;
  flex-direction: row;
  font-weight: lighter;
  justify-content: space-around;
  margin: 25px 0; }
  .trusted img {
    height: 35px; }

.header {
  background-image: url("../assets/images/valley-bg.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .header div {
    width: 500px; }
  .header-description {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px;
    margin-bottom: 75px; }
    .header-description div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 0; }
    .header-description h2, .header-description h3 {
      font-size: 40px;
      margin: 0;
      font-weight: 200; }
      .header-description h2 strong, .header-description h3 strong {
        font-weight: 800; }
    .header-description input {
      width: 85%;
      border-radius: 50px;
      height: 60px; }
  .header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 42px; }
    .header-buttons button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px 10px 0 0;
      border-radius: 20px;
      border: none;
      font-size: 16px;
      padding: 20px 10px;
      font-weight: 800; }

#home {
  margin: 0;
  padding: 0; }

body, p {
  margin: 0;
  padding: 0; }

.blue {
  background-color: #0f0f7a;
  color: #ffffff; }
  .blue h2, .blue h3, .blue p {
    color: #ffffff; }
  .blue img {
    box-shadow: none !important;
    border: 2px #ffffff solid; }
  .blue button {
    background-color: #36be95; }

.yellow {
  background-color: #fcdb1e; }
  .yellow h2, .yellow h3, .yellow p {
    color: white; }
  .yellow button {
    background-color: #36be95 !important;
    color: #fcdb1e !important; }

.yellow-white {
  background-color: #f5d96a; }
  .yellow-white h2, .yellow-white h3, .yellow-white p {
    color: white; }
  .yellow-white button {
    background-color: #36be95 !important;
    color: #f5d96a !important; }

.pink {
  background-color: #9838a1; }
  .pink h2, .pink h3, .pink p {
    color: white; }
  .pink .job-card-requirements-requirement li {
    border: none !important;
    background-color: #ffffff;
    color: #9838a1 !important; }

.red {
  background-color: #c0315c;
  color: #ffffff; }
  .red h2, .red h3, .red p {
    color: #ffffff; }

.white {
  background-color: #ffffff;
  color: #393939; }
  .white h2, .white h3, .white p {
    color: #393939; }

.white {
  background-color: #ffffff;
  color: #c0315c; }
  .white h2, .white h3, .white p {
    color: #c0315c; }

table {
  margin-top: -75px; }

/*# sourceMappingURL=main.css.map */
